# Starting shortcut for loading / saving mouse anndata objects

when running existing scanpy tools, they have a default option of writing additional outputs of those tools directly in-place into the existing anndata object; therefore, resaving these or a copy of these anndata objects may include the additional info/output from tools

In [1]:
import sys, os

import pandas as pd
pd.set_option('display.max_rows', 10, 'display.max_columns', 99)

import scipy as sp
from scipy.sparse import csr_matrix

import scanpy as sc
sc.set_figure_params(format='png')

See the other notebook for more detailed steps on how to load these anndata objects from the GEO text.gz files. 

This notebook demos quickly what the loaded objects look like and how to save/read, using these anndata alternate formats (`.h5ad` for example) as the new storage format in subsequent analysis.

### Read existing / most recent rna `anndata` object

In [2]:
rna = sc.read('sciCAR_mouse_rna_scanpy.h5ad')
rna

AnnData object with n_obs × n_vars = 13893 × 12
    obs: 'source', 'replicate', 'experiment', 'tsne_1', 'tsne_2', 'cell_name', 'louvain'
    var: 'gene_type', 'gene_short_name', 'means', 'dispersions', 'dispersions_norm'
    uns: 'cell_name_colors', 'louvain', 'louvain_sizes', 'neighbors', 'paga'
    obsm: 'X_umap'

In [4]:
rna.X

<13893x12 sparse matrix of type '<class 'numpy.float32'>'
	with 47118 stored elements in Compressed Sparse Row format>

In [5]:
rna.obs

,source,replicate,experiment,tsne_1,tsne_2,cell_name,louvain
index,,,,,,,
coRNA-RNA-plate1-001.TCGGCGTCGT,Mouse,Replicate 1,coassay,NaN,NaN,NaN,7
coRNA-RNA-plate1-001.CATGACTCAA,Mouse,Replicate 1,coassay,2.808426,-45.948924,Loop of Henle cells,9
coRNA-RNA-plate1-001.CGCCAGGCAT,Mouse,Replicate 1,coassay,-4.660380,-41.004499,Loop of Henle cells,5
coRNA-RNA-plate1-001.CTGGTTGGTT,Mouse,Replicate 1,coassay,NaN,NaN,NaN,19
coRNA-RNA-plate1-001.CCAGGCTCTT,Mouse,Replicate 2,coassay,10.309332,11.143745,Proximal tubule S1/S2 cells,13
...,...,...,...,...,...,...,...
coRNA-RNA-plate8-096.GCTCGAATCA,Mouse,Replicate 2,coassay,34.541703,-6.368314,Proximal tubule S3 cells (type 2),0
coRNA-RNA-plate8-096.GACCAATGCG,Mouse,Replicate 1,coassay,-3.729165,30.804146,Proximal tubule S1/S2 cells,1
coRNA-RNA-plate8-096.AATACCAGTT,Mouse,Replicate 1,coassay,-14.379572,33.444072,Proximal tubule S1/S2 cells,0
coRNA-RNA-plate8-096.TAGAATAGCC,Mouse,Replicate 2,coassay,NaN,NaN,NaN,17
coRNA-RNA-plate8-096.GGCTATTCGA,Mouse,Replicate 2,coassay,NaN,NaN,NaN,11

In [6]:
rna.var

,gene_type,gene_short_name,means,dispersions,dispersions_norm
index,,,,,
ENSMUSG00000027202.12,protein_coding,Slc12a1,0.881832,2.586599,1.0
ENSMUSG00000039519.6,protein_coding,Cyp7b1,0.681018,3.033408,1.0
ENSMUSG00000055373.8,protein_coding,Fut9,1.802368,2.594126,1.0
ENSMUSG00000029635.15,protein_coding,Cdk8,2.685375,3.009490,1.0
ENSMUSG00000038260.10,protein_coding,Trpm4,0.208862,3.735713,1.0
...,...,...,...,...,...
ENSMUSG00000031766.4,protein_coding,Slc12a3,1.046509,3.400831,1.0
ENSMUSG00000055737.12,protein_coding,Ghr,2.145704,3.270804,1.0
ENSMUSG00000063296.4,protein_coding,Tmem117,0.397197,2.378892,1.0
ENSMUSG00000054640.14,protein_coding,Slc8a1,1.959834,4.993924,1.0
ENSMUSG00000024694.9,protein_coding,Keg1,1.326886,2.481134,1.0

#### To save these objects again:
(e.g. if your scanpy tool added more annotations to it)

sc.write(rna, 'sciCAR_mouse_rna_scanpy.h5ad')

### Read existing / most recent atac `anndata` object

In [3]:
atac = sc.read('sciCAR_mouse_atac_scanpy.h5ad')
atac

AnnData object with n_obs × n_vars = 13395 × 252741
    obs: 'replicate', 'louvain'
    var: 'peak', 'chr', 'start', 'end'
    uns: 'louvain', 'neighbors'
    obsm: 'X_pca', 'X_umap'

In [7]:
atac.X

<13395x252741 sparse matrix of type '<class 'numpy.float32'>'
	with 9448526 stored elements in Compressed Sparse Row format>

In [8]:
atac.obs

                                   replicate louvain
index
coRNA-RNA-plate1-052.CGTAAGGAGT  Replicate 1      14
coRNA-RNA-plate1-052.ACTCCGCCAA  Replicate 1       5
coRNA-RNA-plate1-052.GGCTCGAGAT  Replicate 2       1
coRNA-RNA-plate1-052.CGCCAGGCAT  Replicate 1       8
coRNA-RNA-plate1-052.CATGACTCAA  Replicate 1       0
...                                      ...     ...
coRNA-RNA-plate7-063.GAGGTCGGTT  Replicate 1      12
coRNA-RNA-plate7-063.AGCAAGAACC  Replicate 1       5
coRNA-RNA-plate7-063.GCTCGAATCA  Replicate 2       2
coRNA-RNA-plate7-063.AAGCATCCTA  Replicate 1       0
coRNA-RNA-plate7-063.CTGAAGAGAC  Replicate 2       2

[13395 rows x 2 columns]

In [9]:
atac.var

                            peak         chr     start       end
index
1         GL456210.1-58882-59082  GL456210.1     58882     59082
2       GL456210.1-110303-110503  GL456210.1    110303    110503
3       GL456210.1-123592-123792  GL456210.1    123592    123792
4       GL456210.1-136519-136719  GL456210.1    136519    136719
5       GL456210.1-147592-147792  GL456210.1    147592    147792
...                          ...         ...       ...       ...
252737    chrY-90805057-90805302        chrY  90805057  90805302
252738    chrY-90808722-90809017        chrY  90808722  90809017
252739    chrY-90810774-90813153        chrY  90810774  90813153
252740    chrY-90819415-90820041        chrY  90819415  90820041
252741    chrY-90828797-90829291        chrY  90828797  90829291

[252741 rows x 4 columns]

#### To save these objects again:
(e.g. if your scanpy tool added more annotations to it)

sc.write(rna, 'sciCAR_mouse_rna_scanpy.h5ad')
sc.write(atac, 'sciCAR_mouse_atac_scanpy.h5ad')